.card{
  min-height: 45rem;
}

.card .card-content .detail_title{
   text-transform: capitalize;
}

.card .card-content  h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.card .card-content .array{
    padding-top: 1.2rem;
}

.card .card-content .team_header h3{
    padding-bottom: 0.1rem;
}