.listed_projects{
    display: block;
}

.listed_projects ul{
margin-top: 1rem !important;

}

.listed_projects ul a{
    color: #0c0c0c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/* unvisited link */
.listed_projects ul a {
    color: white;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #122b40;
}

/* selected link */
a:active {
    color: #122b40;
}

/*scroll menu*/
.scrollmenu {
    background-color: #404040 ;
    overflow: auto;
    white-space: nowrap;
    border-radius: 10px;
}

.scrollmenu a {
    display: block;
    color: white;
    text-align: -moz-left;
    /*padding: 14px;*/
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
}

.listed_projects .card{
    margin-top: 0;
}

.vertical_scroll{
    max-height: 25rem;
    overflow-y: scroll;
}

.listed_projects .card{
    height: 31.8rem;
}

.listed_projects .card .card_content{
    max-height: 15rem;
}

.headings{
    padding-left: 3rem;
    font-family: 'Grand Hotel', cursive;
}

.titles{
    padding-left: 1rem;
    padding-bottom: 0;
    padding-top: 0.1rem;
    font-family: 'Grand Hotel', cursive;
}

.subs{
    padding-left: 1rem;
}