.panel-body .error_messages{
    color: red;
    font-size: 0.7rem;
    font-style: oblique;
    align-items: center;
}

.panel-default .listed_projects .card{
    margin-top: 1rem;
}

.card{
    min-height: 30rem;
}

.card .card-content .detail_title{
    text-transform: capitalize;
}

.card .card-content  h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.card .card-content .array{
    padding-top: 1.2rem;
}