.footer_section{
    margin-top: 1rem;
    height: 15rem;
    background-color: black ;
    background-image: image('../home_page/images/awsha_photo.jpg');
    display: block;

}

.footer_section .footer_container {
    border-top-style: solid;
   border-top-color: #FFFFFF;
}

.footer_section .footer_container .footer_row .footer_header{

   margin-top: 1rem;
    background-color: #FFFFFF;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.sub_footer{
    height: 2rem;
    background-color: #122b40;
    text-align: center;
    padding-top: 0.5rem;
}

