.footer_section{
    margin-top: 2.5rem;
    height: 3rem;
    background-color: #ddd ;
    background-image: image('../home_page/images/awsha_photo.jpg');
    display: block;
    color: white;
    /*margin-top: 18.5rem;*/

}



.footer_section .footer_container {
    color: black;
}

.footer_section .footer_container .footer_icons{
    padding-top: 1rem;
    align-items: self-end;
}

.sub_footer{
    height: 2rem;
    background-color: #282828;
    text-align: center;
    padding-top: 0.7rem;
    /*background-image: url('./images/awsha_photo.jpg');*/
    color: white;
    font-size: 0.6rem;
}

